
body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
    display: flex;
    background-color:black;
    padding: 10px;
    justify-content: space-between;

}


.open-orders {
    background-color: #dbd8e3;
    display: flex;


}



.done-orders {
    background-color: #dbd8e3;
    display: flex;




}




.settings-bar {

}
