
body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
    display: flex;
    background-color:#8dc6ff; 
    padding: 13px;
    justify-content: space-between;
}


.open-orders {
    background-color: #dbd8e3;
    display: flex;  
    
    
}



.done-orders {
    background-color: #dbd8e3;
    display: flex; 
    
    
    
    
}




.settings-bar {
  
}